
<div class="message">
  <span class="message__name">
    <%#= talk_message.user.name %>
  </span>
  <%# if talk_message.user.id == current_user.id %>
<!--    <div class="message__text message_current_user">-->
<!--      <div><%#= talk_message.message %></div>-->
<!--    </div>-->
  <%# else %>
<!--    <div class="message__text">-->
<!--      <div><%#= talk_message.message %></div>-->
<!--    </div>-->
  <%# end %>
  <%= current_user.name %>
  <%= chat_message.message %>



</div>